@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 12vw;
    background-color: #256B19;
    font-family: 'Jockey One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;

}

#itensMenu {
    display: flex;
    color: #000;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#itensMenu li {
    letter-spacing: 3px;
    margin-top: 32px;
    
}

logo {
    background-color: #fff;
    background: url("imgs/logoIfmg.png") no-repeat center center #fff;
    background-size: cover;
    height: 12%;
    width: 50%;
    margin-top: 20%;
}

#itensMenu a:hover {
    background-color: #fff5;
    border-radius: 5px;
    cursor: pointer;
}

#itensMenu a {
    width: 100%;
}

.conteudo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    font-family: 'Jockey One', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p { 
    font-family: 'Jockey One', sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 1000px;
}

.projetoVideo {
    background-color: #000;
    border: 30px solid #1D9000;
    width: 600px;
    height: 450px;
}
